.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3); /* Set track color */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 255, 0.5); /* Set thumb color */
  border-radius: 10px; /* Round the thumb */
}